{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Grand Coder {% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-custom" data-spy="affix" data-offset-top="50" role="navigation"style="margin:0px;">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target="#navbar-menu">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/"> GrandCoder </a>
             </div>
             <div class="navbar-collapse collapse" id="navbar-menu">

                 <ul class="nav navbar-nav">
                     <li><a href=""><span class="glyphicon glyphicon-home"></span> 首頁 </a></li>
                     <li><a href="/test/testlogin"><span class="glyphicon glyphicon-envelope"></span>專題成果</a></li>
                     <li><a href=""><span class="glyphicon glyphicon-envelope"></span>問題</a></li>
                     <li><a href=""><span class="glyphicon glyphicon-envelope"></span>專題成員</a></li>
                 </ul>

                 <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_authenticated %}
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> 登出 </a></li>
                    {% else %}
                    <li><a href="/auth/login/user"><span class="glyphicon glyphicon-log-in"></span> 登入 </a></li>
                    <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span> 註冊 </a></li>
                    {% endif %}

                </ul>
             </div>
         </div>
    </nav>

{% endblock %}


{% block content %}
    <section class="container" style="background-color:#000d1a;">
        <div class="col-sm-6" style="margin-top:20px;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="../static/image/MVI_1725.MP4" frameborder="0">
                </iframe>
            </div>

        </div>
        <div class="col-sm-6" style="">
            <h1 style="color:white; text-align:center;margin-top:50px">透過大數據的幫助，讓你精準的掌握歐元兌美元最佳進場時機</h1>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/image/busnies.jpg" style="width:300px;height:200px;">
                <h1>專業</h1>
            </div>
            <div class="col-sm-4">
                <img src="../static/image/busnies.jpg" style="width:300px;height:200px;">
                <h1>信任</h1>
            </div>
            <div class="col-sm-4">
                <img src="../static/image/busnies.jpg" style="width:300px;height:200px;">
            </div>
        </div>
    </section>
    <footer>

    </footer>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock scripts %}


