{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Grand Coder {% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-custom" data-spy="affix" data-offset-top="50" role="navigation"style="margin:0px;">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target="#navbar-menu">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/"> 資測匯 </a>
             </div>
             <div class="navbar-collapse collapse" id="navbar-menu">

                 <ul class="nav navbar-nav">
                     <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首頁 </a></li>
                     <li><a href="/test/testlogin"><span class="glyphicon glyphicon-envelope"></span>專題成果</a></li>
                     <li><a href="/test/testshow"><span class="glyphicon glyphicon-envelope"></span>問題</a></li>
                 </ul>

                 <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_authenticated %}
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> 登出 </a></li>
                    {% else %}
                    <li><a href="/auth/login/user"><span class="glyphicon glyphicon-log-in"></span> 登入 </a></li>
                    <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span> 註冊 </a></li>
                    {% endif %}

                </ul>
             </div>
         </div>
    </nav>

{% endblock %}


{% block content %}

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock scripts %}


