{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}
<!--
    <div class="container">
        <div class="col-sm-3">
            {% if current_user.thumbernail %}
            <img class="img-responsive img-circle" src="{{current_user.thumbernail}}">
            {% elif current_user.is_authenticated %}
            <img class="img-responsive img-circle" src="{{ url_for('static', filename='image/unknown.jpg') }}">
            {% endif %}
        </div>
    </div>
-->
<!--
    <section id="topwelcome" class="container" style="background-color:#000d1a;">
        <div class="col-sm-6" style="margin-top:20px;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="../static/image/MVI_1725.MP4" frameborder="0">
                </iframe>
            </div>

        </div>
        <div class="col-sm-6" style="">
            <h1 style="color:white; text-align:center;margin-top:50px">透過大數據的幫助，讓你精準的掌握歐元兌美元最佳進場時機</h1>
        </div>
    </section>
    -->
        <section id="banner"  style="background-image: url('../../static/image/banner.jpg');">
            <h1></h1>
        </section>
        <section id="one" class="wrapper">
            <div class="inner">
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>Magna tempus sed amet<br /> aliquam veroeros</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                    </article>
                    <article>
                        <header>
                            <h3>Interdum lorem pulvinar<br /> adipiscing vitae</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                    </article>
                    <article>
                        <header>
                            <h3>Libero purus magna sapien<br /> sed ullamcorper</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                    </article>
                </div>
            </div>
        </section>
        <section id="two" class="wrapper style1 special">
            <div class="inner">
                <header>
                    <h2>成員</h2>
                </header>
                <div class="flex flex-4">
                    <div class="box person">
                        <div class="image round">
                            <img src="{{ url_for('static', filename='image/elwing.jpg') }}"/>
                        </div>
                        <h3>Magna</h3>
                        <p>Cipdum dolor</p>
                    </div>
                    <div class="box person">
                        <div class="image round">
                            <img src="images/pic04.jpg" alt="Person 2" />
                        </div>
                        <h3>Ipsum</h3>
                        <p>Vestibulum comm</p>
                    </div>
                    <div class="box person">
                        <div class="image round">
                            <img src="images/pic05.jpg" alt="Person 3" />
                        </div>
                        <h3>Tempus</h3>
                        <p>Fusce pellentes</p>
                    </div>
                    <div class="box person">
                        <div class="image round">
                            <img src="images/pic06.jpg" alt="Person 4" />
                        </div>
                        <h3>Dolore</h3>
                        <p>Praesent placer</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}